<div>
    <h1 class="no-margin bottom-margin shrikhand">PROFILES</h1>
</div>

<div class="flex">
    {{#each profile}}
    <div class="profile flex-column ">
        <u>
            <a href="{{_id}}">
                <h3 class="work-sans">{{username}}</h3>
            </a>
        </u>
        <img class="profileImg" src="https://i.imgur.com/cvpuu7I.png" alt="profile pic">
        {{!-- <button class="pure-button pure-button-primary"><a class="work-sans" href="{{_id}}">VIEW PROFILE</a></button>
        --}}
    </div>
    {{/each}}
</div>