<div>
    <h1>PROFILES</h1>
</div>

<div class="flex">
    {{#each profile}}
    <div class="profile">
        <h3>{{username}}</h3>
        <img src="https://i.imgur.com/cvpuu7I.png" alt="profile pic">
        <button><a href="{{_id}}">VIEW PROFILE</a></button>
    </div>
    {{/each}}
</div>