<div>
    <h1 class="no-margin bottom-margin shrikhand">PROFILES</h1>
</div>

<div class="flex flex-wrap">
    {{#each profile}}
    <div class="profile flex-column flex-wrap">
        <a href="{{_id}}">
            <div>
                {{username}}
            </div>
            <img class="profileImg" src={{profilePic}} alt="profile pic">
        </a>

        {{!-- <button class="pure-button pure-button-primary"><a class="work-sans" href="{{_id}}">VIEW PROFILE</a></button>
        --}}
    </div>
    {{/each}}
</div>