<div>
    <h1>PROFILES</h1>
</div>

<div class="flex">
    {{#each profile}}
    <div class="profile">
        <h3>This is a profile</h3>
        <img src="{{profilePic}}" alt="profile pic">
    </div>
    {{/each}}
</div>