<div>
    <h1 class="no-margin bottom-margin">CREATE | PROFILE</h1>
</div>

<div class="formcenter">
    {{!-- <span>CREATE NEW USER</span> --}}
    <form action="/" method="POST" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="name">Username</label>
                <input id="name" type="text" placeholder="Gamertag" name="username">
                {{!-- <span class="pure-form-message-inline">This is a required field.</span> --}}
            </div>

            <div class="pure-control-group">
                <label for="email">Email Address</label>
                <input id="email" type="email" placeholder="Email Address" name="email">
            </div>

            <div class="pure-control-group">
                <label for="picture">Picture URL</label>
                <input id="picture" type="text" placeholder="IMGUR or GIPHY" name="profilePic">
            </div>

            <div class="pure-control-group">
                <label for="slogan">Slogan</label>
                <input id="slogan" type="text" placeholder="Personal Message" name="slogan">
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>
</div>