html {
    /* background-color: white; */
}

body {
    max-width: 70vw;
    margin: 0 auto;
    background-color: beige;
}

h1 {
    color: black;
    text-align: center;
    font-size: 75px;
    border-bottom: 2px solid black;
    /* background-color: darkgrey; */
}

.center {
    text-align: center;
}

.formcenter {
    text-align: center;
}

.center div {
    border: 2px solid black;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}