<div>
    <h1 class="no-margin bottom-margin">Add New Stat</h1>
</div>

<div class="formcenter">
    <form action="/{{profileId}}/characters/{{characterId}}/stats" method="POST" class="pure-form pure-form-aligned">
        <fieldset>
            <div class="pure-control-group">
                <label for="tournamentName">Tournament Name</label>
                <input id="tournamentName" type="text" placeholder="Tournament Name" name="tournamentName">
            </div>
            <div class="pure-control-group">
                <label for="wins">Wins</label>
                <input id="wins" type="text" placeholder="Number of wins" name="wins">
            </div>
            <div class="pure-control-group">
                <label for="losses">Losses</label>
                <input id="losses" type="text" placeholder="Number of losses" name="losses">
            </div>
            <div class="pure-control-group">
                <label for="matches">Matches</label>
                <input id="matches" type="text" placeholder="Number of matches" name="matches">
            </div>
            <div class="pure-control-group">
                <label for="victoryPercentage">Victory Percentage</label>
                <input id="victoryPercentage" type="text" placeholder="Victory Percentage" name="victoryPercentage">
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Submit</button>
            </div>
        </fieldset>
    </form>
    <button class="pure-button pure-button-primary"><a href="/{{profileId}}/characters/{{characterId}}/stats">BACK</a></button>
</div>